<div class="d-flex justify-content-around">
  <input
    type="date"
    name="date"
    value=<%= insert_flatpickr_input_value(@publication, @legal_effect, @starting_point) %>
    class="form-control string required input"
    id="flatpickr"
  >
</div>
