$red900: #1B1717;
$red700: #810000;
$red500: #CE1212;
$red300: #fd1015;
$red100: #ffe0e1;

// Override bootstrap default colors
$primary: $red500;
// Override specific bootstrap colors
$body-bg: white;

