<div class="text-justify">
  <h1><span class="highlight">A propos</span></h1>
  <h2>Pourquoi cet outil ?</h2>

  <p>Il est toujours fastidieux de calculer les "dates clés" d'une transmission universelle de patrimoine.</p>
  <p>Cet outil a été conçu pour le faire automatiquement.</p>

  <h2>Fonctionnalités</h2>

  <p>En l’absence d’opposition régulière, la transmission universelle de patrimoine prend effet le dernier jour ouvrable à minuit (jour autre qu’un samedi, un dimanche, un jour férié ou chômé) du délai de 30 jours démarrant le lendemain de l’avis de publication (soit le premier jour 0 heure suivant ce jour).</p>

  <p>L'outil tient compte de ces contraintes et <b>étend automatiquement le délai d'opposition des créanciers</b> s'il expire un samedi, un dimanche et même un jour férié.<i class="fas fa-smile-beam ml-1"></i></p>

  <p>L'outil génère par ailleurs <b>toutes les dates de publication possibles.</b></p>

  <p>Compte tenu de l'éventuelle extension du délai, il est en effet possible d'avoir plusieurs dates de publication pour une même date de réalisation. </p>

  <p>Par exemple, pour une date de réalisation au 20 juillet 2021, il existe 3 dates de publication : le 17 juin 2021, le 18 juin 2021 et le 19 juin 2021.</p>

  <p>En effet, pour ces deux premières dates, le délai d'opposition expire respectivement un samedi et un dimanche : il est donc prorogé au lundi 19 juillet 2021, ce qui donne bien une date de réalisation au 20 juillet 2021.</p>

  <p>Gardez toutefois en tête qu'il reste malheureusement possible qu'aucun journal d'annonces légales ne publie aux dates proposées.<i class="fas fa-grin-wink ml-1"></i></p>
