<section id="simulator">
  <div class="ml-1">
    <h1>Générer les <span class="highlight">dates clés</span> de vos</h1>
    <h1>transmissions universelles de patrimoine</h1>
  </div>
  <%= erb :'simulator/flatpickr_form' %>
</section>

<section id="rules" class="mt-2">
  <h1 class="ml-2">Les <span class="highlight">règles</span> applicables</h1>
  <%= erb :rules %>
</section>
